<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TIN - s16534</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="box">
                <div class="box__header">
                    <h1>Simple ToDo App</h1>
                    <p>LAB005</p>
                </div>
                <div class="box__body">
                    <p><%= error %></p>
                </div>
            </div>
            <div class="changeTask">
                <div class="previousTask">
                    <a href="/">
                        <span>←</span>
                        Back to mainpage 
                    </a>
                </div>
                <div class="nextTask">
                    <!-- <a href="3e.html">
                        Next task 
                        <span>→</span>
                    </a> -->
                </div>
            </div>

        </div>
    </body>
</html>